{% extends "base.html" %}
{% block content %}
{% for post in donateabout %}

{% include "post_base.html" %}

<!--  end row 1 -->

{% endfor %}

{% for post in donate %}
    {% if forloop.first %}
    <div class="section-title" style="background-color:{{ post.color }}">
        <div class="row">
            <div class="col-md-4">
               <img class="center-block img-responsive" src="{{ post.img.url }}">
            </div>
            <div class="col-md-8">
                <div class="volunteer-text">
                    <h1 class="white-text">{{ post.title }}</h1>
                    <div class="white-text"> {{ post.text | safe }}</div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2Y9PLFW9V6YFU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <div class="volunteer-text">
            {% else %}
                <p><strong>{{ post.title }}</strong></p>
                <p>{{  post.text | safe }}</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2Y9PLFW9V6YFU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
            {% endif %}
    {% endfor %}
            </div>
        </div>
    </div>
{% for post in club %}
    {% if forloop.first %}
     <div class="section-title" style="background-color:{{ post.color }}">
    <div class="row">
            <div class="col-md-4">
               <img class="center-block img-responsive" src="{{ post.img.url }}">
            </div>
            <div class="col-md-8">
               <div class="volunteer-text">
                    <h1 class="white-text">{{ post.title }}</h1>
                    <div class="white-text"> {{ post.text | safe }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="volunteer-text">
            {% else %}

                <p><strong>{{ post.title }}</strong></p>
                <p>{{  post.text | safe }}</p>
            {% endif %}
{% endfor %}
            </div>
        </div>
    </div>
{% for post in paypal %}
    {% if forloop.first %}
     <div class="section-title" style="background-color:{{ post.color }}">
    <div class="row">
            <div class="col-md-4">
               <img class="center-block img-responsive" src="{{ post.img.url }}">
            </div>
            <div class="col-md-8">
               <div class="volunteer-text">
                    <h1 class="white-text">{{ post.title }}</h1>
                    <div class="white-text"> {{ post.text | safe }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <div class="volunteer-text">
            {% else %}
                <p><strong>{{ post.title }}</strong></p>
                <p>{{  post.text | safe }}</p>
            {% endif %}
    {% endfor %}
            </div>
            <div class="text-center">
             <button type="button" class="btn-lg btn-primary" href="#">Donate Now!</button>
             </div>
        </div>
    </div>
{% endblock %}

