{% extends "base.html" %}
{% block content %}
{% for post in donate %}
{% if not post.color %}
{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
    {% if post.img %}
<div class="row">
    <div class="col-md-7 col-md-push-5">
      <img class="center-block img-responsive ethics-image" src="{{post.img.url}}">
    </div>

    <div class="col-md-5 col-md-pull-7">
        <h1 class="ethics-title text-center text-uppercase">{{ post.title }}</h1>
        {% if post.text %}
        <div class="center-block volunteer-text">{{ post.text | safe }}</div>
        {% endif %}
    </div>
</div>
    {% else %}<!-- if no img center the title in the first row -->
<div class="row">
    <div class="col-md-12">
        <h1 class="ethics-title text-center text-uppercase">{{ post.title }}</h1>
    </div>
</div>
    {% endif %} <!--end img loop-->

{% else %} <!-- elif not not first loop-->
<div class="row">
    <div class="">
        <div class="col-md-4 col-md-push-8 ">
             {%if post.img %}
            <img class="center-block img-responsive ethics-image" src="{{ post.img.url }}" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-8 col-md-pull-4 ">
            <div class="volunteer-text">
                <p><strong> {{ post.title }}</strong></p>
                <div class="center-block">{{ post.text | safe }}</div>
            </div>
        </div>
    </div>
</div>

{% endif %} <!-- end first loop if statment -->
{% else %} <!-- elif not divided by 2 -->
<div class="row">
    <div class="">
        <div class="col-md-4">
             {% if post.img %}
            <img class="center-block img-responsive ethics-image" src="{{ post.img.url }}" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="volunteer-text">
                <p><strong> {{ post.title }}</strong></p>
                <div class="center-block">{{ post.text | safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endif %}<!-- end if not /2  -->
{% elif post.color %} <!-- if color -->


    <div class="section-title" style="background-color:{{ post.color }}">
        <div class="row">
            <div class="col-md-4">
            {% if post.img %}
               <img class="center-block img-responsive" src="{{ post.img.url }}">
            {% endif %}
            </div>
            <div class="col-md-8">
                <div class="volunteer-text">
                    <h1 class="white-text">{{ post.title }}</h1>
                </div>

            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="volunteer-text">
                    <p>{{  post.text | safe }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    {% if forloop.last %}
    <div class="section-title" style="background-color:{{ post.color }}">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="volunteer-text">
                    <h1 class="white-text">Paypal link </h1>
                    <h1 class="white-text">Donate Link</h1>
                </div>

            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="volunteer-text">
                    <p>{{  post.text | safe }}</p>
                </div>
            </div>
        </div>

   {% endif %}<!--end if color statment -->




    {% endfor %}
            <div class="text-center">
             <button type="button" class="btn-lg btn-primary" href="#">Donate Now!</button>
             </div>
{% endblock %}

