{% extends "base.html" %}
{% block content %}
{% if home %}
{% for content in home %}
{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first%}
<div class="row">
  <div class="main-header ourcontentpost" >
    <div class="col-xs-12 col-sm-12 col-md-12" style="background:url({{content.img.url}}); background-repeat: no-repeat; background-size: 100%;" >
      <h2>
        <span>EDUCATE </span> </br>
        <span>EMPOWER</span> </br>
        <span>BRING CHANGE TO HUAYCAN</span>
      </h2>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="odd ourcontentpost">
    <div class="imgdiv col-xs-12 col-sm-12 col-md-4 col-md-push-8" style="height: 100%; padding: 0;">
      <img class="center-block img-responsive home-img" src="{{content.img.url}}"> </img>
    </div>
    <div class="plaindiv col-xs-12 col-sm-12 col-md-8 col-md-pull-4" style="background-color:{{content.color}};text-align: center; height: 100%;">
      <div class="contents">
      {% if content.title %}
      <h1 class="white-text">{{ content.title }}</h1>
      {% endif %}
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <a href="{{ content.link }}" class="btn btn-default btn-lg active" role="button">Learn More</a>
      </div>
    </div>
  </div>
</div>
{% if forloop.counter == 3 %}
<div class="row liinfo">
  <div style="height: 200px; display: table; width: 100%;">
    {% for link in homelink %}
    <div class="info" style="background-color:{{ link.color }}"><a class="infoclick"><i class="fa fa-5x {{ link.icon }}" aria-hidden="true"></i> <p> {{ link.title }} </p></a></div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endif %}
{% else %}
<div class="row">
  <div class="twice ourcontentpost">
    <div class="imgdiv col-xs-12 col-sm-12 col-md-4" style="height: 100%; padding: 0;">
      <img class="center-block img-responsive home-img" src="{{content.img.url}}"> </img>
    </div>
    <div class="plaindiv col-xs-12 col-sm-12 col-md-8" style="background-color:{{content.color}}; height: 100%; text-align: center;">
      <div class="contents">
      {% if forloop.counter == 4 %}
      {% if content.title %}
      <h1 class="white-text">{{ content.title }}</h1>
      {% endif %}
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <a href="{{ content.link }}" class="btn btn-default btn-lg active" role="button">Learn More</a>
      {% else %}
      <h1 class="white-text">{{ content.title }}</h1>
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <a href="{{ content.link }}" class="btn btn-default btn-lg active" role="button">Learn More</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
