{% extends "base.html" %}
{% block content %}
{% if home %}
{% for content in home %}
{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first%}
<div class="row">
  <div class="main-header ourcontentpost" >
    <div class="col-md-12 " style="background:url({{content.img.url}}); background-repeat: no-repeat; background-size: 100%;" >
      <h2>
        <span>EDUCATE </span> </br>
        <span>EMPOWER</span> </br>
        <span>BRING CHANGE TO HUAYCAN</span>
      </h2>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="odd ourcontentpost">
    <div class="plaindiv col-xs-12 col-sm-12 col-md-8" style="background-color:{{content.color}};text-align: center; height: 100%;">
      <div class="contents">
      {% if content.title %}
      <h1 class="white-text">{{ content.title }}</h1>
      {% endif %}
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <button class="btn btn-default" type="button">Learn More</button>
      </div>
    </div>
    <div class="imgdiv col-xs-12 col-sm-12 col-md-4" style="height: 100%; padding: 0;">
      <img class="center-block img-responsive" src="{{content.img.url}}"> </img>
    </div>
  </div>
  <!-- <div style="height: 200px; display: table; width: 100%;">
    <div class="info" style="background-color:#70DBC8"><a class="infoclick"><i class="fa fa-5x fa-heart" aria-hidden="true"></i><p> DONATE </p> </a></div>
    <div class="info" style="background-color:#4584A8"><a class="infoclick"><i class="fa fa-5x fa-hand-paper-o" aria-hidden="true"></i> <p>HELP NEEDED </p></a></div>
    <div class="info" style="background-color:#0D4F75"><a class="infoclick"><i class="fa fa-5x fa-user" aria-hidden="true"></i><p> HUAYWASI </p></a></div>
    <div class="info" style="background-color:#DFB1AA"><a class="infoclick"><i class="fa fa-5x fa-rss" aria-hidden="true"></i> <p>OUR BLOG </p></a></div>
    <div class="info" style="background-color:#A81117"><a class="infoclick"><i class="fa fa-5x fa-phone" aria-hidden="true"></i> <p> CONTAT US </p></a></div>
  </div> -->
</div>
{% endif %}
{% else %}
<div class="row">
  <div class="twice ourcontentpost">
    <div class="imgdiv col-xs-12 col-sm-12 col-md-4" style="height: 100%; padding: 0;">
      <img class="center-block img-responsive" src="{{content.img.url}}"> </img>
    </div>
    <div class="plaindiv col-xs-12 col-sm-12 col-md-8" style="background-color:{{content.color}}; height: 100%; text-align: center;">
      <div class="contents">
      {% if forloop.counter == 4 %}
      {% if content.title %}
      <h1 class="white-text">{{ content.title }}</h1>
      {% endif %}
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <button class="btn btn-default" type="button">Learn More</button>
      {% else %}
      <h1 class="white-text">{{ content.title }}</h1>
      <h3 class="center-block contenttextright white-text">{% autoescape off %}{{ content.text}}{% endautoescape %}</h3>
      <button class="btn btn-default" type="button">Learn More</button>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
