{% extends "content/base.html" %}

{% block content %}

 {% for story in ourstory %}
 {% if forloop.counter0|divisibleby:2 %}
 <div class="post">
	 <div class="row ourstoryrow">
	 	<div class="col-md-6">
		 	{% if story.title %}
		 	<h1 class="center-block">{{ story.title }}</h1>
		 	{% endif %}
		 	<h3 class="center-block">{{ story.text }}</h3>
	 	</div>
	 	<div class="col-md-6">
	 	 {%if story.img %}<img class="center-block img-responsive ourstoryimg"  src="{{story.img.url}}" alt="Generic placeholder image" width="140" height="140">{% endif %}
	 	</div>
	 </div>
 </div>
{% else %}
 <div class="post">
	 <div class="row ourstoryrow">
	 <div class="col-md-6">
	 	 {%if story.img %}
	 	 <img class="center-block img-responsive outstoryimg" src="{{story.img.url}}" alt="Generic placeholder image" width="140" height="140">
	 	 {% endif %}
	 	</div>
	 	<div class="col-md-6">
	 		{% if story.title %}
		 	<h1>{{ story.title }}</h1>
		 	{% endif %}
		 	<h3 class="center-block">{{ story.text}}</h3>
	 	</div>
	 	
 	</div>
 </div>
 {% endif %}
 {% endfor %}
{% endblock %}