{% extends "base.html" %}
{% block content %}
{% for program in teensprograms %}
{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
<div class="row">
    {% if program.img %} <!--  if image 4, 8 col -->
    <div class="col-md-4">
        <h1 class="childrenstitle text-center text-uppercase">{{program.title}}</h1>
    </div>
    <div class="col-md-8">
        <img class="center-block img-responsive programimg" src="{{program.img.url}}">
    </div>
    {% else %}<!-- if no img center the title in the first row -->
    <div class="col-md-12">
        <h1 class="childrenstitle text-center text-uppercase">{{program.title}}</h1>
    </div>
</div>
{% endif %}
<!--  end row 1 -->
</div>
{% else %}
<div class="row">
    <div class="programpost">
        <div class="col-md-4 childrensclass" style="background-color:{{program.color}}">
            <h1 class="programsubtitle text-center">{{program.title}}</h1>
        </div>
        <div class="col-md-8">
            <div class="center-block programtextright">{{ program.text|safe}}</div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="row">
    <div class="programpost">
        <div class="col-md-4 col-md-push-8 childrensclass" style="background-color:{{program.color}}">
            <h1 class="programsubtitle text-center">{{program.title}}</h1>
        </div>
        <div class="col-md-8 col-md-pull-4 ">
            <div class="center-block programtextright">{{ program.text|safe}}</div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

