{% extends "base.html" %}
{% block content %}
{% for post in volunteerabout %}
{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
{% if post.img %}
<div class="row">
    <div class="col-md-5 col-md-push-7">
      <img class="center-block img-responsive ethicsimage" src="{{post.img.url}}">
    </div>

    <div class="col-md-7 col-md-pull-5">
         <h1 class="ethicstitle text-uppercase">{{post.title }}</h1>
        {% if post.text %}
         <div class="center-block programtextright">{{ post.text|safe }}</div>
         {% endif %}
    </div>
</div>
        {% else %}<!-- if no img center the title in the first row -->
<div class="row">
    <div class="col-md-12">
        <h1 class="ethicstitle text-center text-uppercase">{{post.title }}</h1>
    </div>
</div>
    {% endif %}
</div>

<!--  end row 1 -->
</div>
{% elif not forloop.counter0|divisibleby:2 %}
<div class="row">
    <div class="programpost">
        <div class="col-md-4 col-md-push-8 childrensclass">
             {%if post.img %}
            <img class="center-block img-responsive ethicsimage" src="{{post.img.url}}" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-8 col-md-pull-4 ">
        <p><strong> {{post.title}}</strong></p>
            <div class="center-block programtextright">{{ post.text|safe}}</div>
        </div>
    </div>
</div>
{% elif forloop.last %}
<div class="row positionsrow">
    <h1> These are the positions we need you for</h1>
{% for position in positions %}
    <div class="col-md-3">
    <h3>{{ position.title }}</h3>
    <p>{{ position.date }}</p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="programpost">
        <div class="col-md-4 col-md-push-8 childrensclass">
             {%if post.img %}
            <img class="center-block img-responsive ethicsimage" src="{{post.img.url}}" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-8 col-md-pull-4 ">
        <p><strong> {{post.title}}</strong></p>
            <div class="center-block programtextright">{{ post.text|safe}}</div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="row">
    <div class="programpost">
        <div class="col-md-4">
             {%if post.img %}
            <img class="center-block img-responsive ethicsimage" src="{{post.img.url}}" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="center-block programtextright">{{ post.text|safe}}</div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

