{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Light and Leadership Initiative</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <!--fonts and icons-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!--to get lato font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,200,100' rel='stylesheet' type='text/css'>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!--custome style sheet-->
        <link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}">
    </head>
    <body>
        <nav class="navbar  navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header text-uppercase">
                    <a class="navbar-brand title-super " href="#"><img src="lightleadershiplogo.jpeg" alt="light leadership logo"></a>
                    <h4 class= "subtitle"></h4>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                 <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    {% for category in categories %}
                        <li class="dropdown">
                            <a class="dropdown-toggle text-uppercase" data-toggle="dropdown" href="{{ category.link }}"> {{ category.title }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for sub_category in category.child.all %}
                                <li><a href="{{ sub_category.link }}">{{ sub_category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container main">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="container main big-footer">
                <div class="row">
                {% for item in footer %}
                {% if item.img %}
                    <div class="col-md-4">
                         <img class="img-responsive footer-img" src="{{ item.img.url }}">
                    </div>
                    <div class="col-md-8">
                        <div class="footer-text">
                            <h1 class="blue thin">{{ item.title }}</h1>
                            <h3 class="thin">{{ item.text|safe }}</h3>
                            <div class="text-center learnmore">
                                <a href="{{ item.learnmorelink }}" class="btn btn-primary btn-lg" role="button">Learn More</a>
                            </div>
                            <h3> Follow Us!</h3>
                            <ul class="text-muted text-center list-inline" style="none">

                                <li><a href="{{ item.facebooklink }}">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle blue fa-stack-2x"></i>
                                  <span>
                                  <i class="fa fa-facebook gray-shadow fa-stack-1x" ></i></span>
                                  </a></li>
                                </span>

                                <li><a href="{{ item.twitterlink }}" class="twitter">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle twitter-blue fa-stack-2x"></i>
                                  <span><i class="gray-shadow fa-stack-1x fa fa-twitter" alt ="Twitter"></i></span></a></li>
                                </span>

                                <li><a href="{{ item.instagramlink }}" class="instagram">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle instagram-brown fa-stack-2x"></i>
                                   <span><i class=" gray-shadow fa-stack-1x fa fa-instagram" alt ="instagram"></i></span></a></li>
                                </span>
                            </ul>
                        </div>
                    </div>

                    {% else %}
                    <div class="col-md-12">
                        <div class="footer-text">
                            <h1 class="blue">{{ item.title }}</h1>
                            <h3>{{ item.text|safe }}</h3>
                            <div class="text-center learnmore">
                                <a href="{{ item.learnmorelink }}" class="btn btn-primary btn-lg" role="button">Learn More</a>
                            </div>
                            <h3> Follow Us!</h3>
                            <ul class="text-muted text-center list-inline" style="none">

                                <li><a href="{{ item.facebooklink }}">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle blue fa-stack-2x"></i>
                                  <span>
                                  <i class="fa fa-facebook gray-shadow fa-stack-1x" ></i></span>
                                  </a></li>
                                </span>

                                <li><a href="{{ item.twitterlink }}" class="twitter">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle twitter-blue fa-stack-2x"></i>
                                  <span><i class="gray-shadow fa-stack-1x fa fa-twitter" alt ="Twitter"></i></span></a></li>
                                </span>

                                <li><a href="{{ item.instagramlink }}" class="instagram">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle instagram-brown fa-stack-2x"></i>
                                   <span><i class=" gray-shadow fa-stack-1x fa fa-instagram" alt ="instagram"></i></span></a></li>
                                </span>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                    </div>
                <div class="container main small-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-text">
                            {% for item in footer %}
                                <h1 class="blue">{{ item.title }}</h1>
                                <div class="">{{ item.text | safe }}</div>
                                <div class="text-center">
                                    <a href="{{ item.learnmorelink }}" class="btn btn-primary btn-lg" role="button">Learn More</a>
                                </div>
                                <h3> Follow Us!</h3>
                                <ul class="text-muted text-center list-inline" style="none">

                                    <li><a href="{{ item.facebooklink }}">
                                    <span class="fa-stack fa-3x">
                                      <i class="fa fa-circle blue fa-stack-2x"></i>
                                      <span>
                                      <i class="fa fa-facebook gray-shadow fa-stack-1x" ></i></span>
                                      </a></li>
                                    </span>

                                    <li><a href="{{ item.twitterlink }}" class="twitter">
                                    <span class="fa-stack fa-3x">
                                      <i class="fa fa-circle twitter-blue fa-stack-2x"></i>
                                      <span><i class="gray-shadow fa-stack-1x fa fa-twitter" alt ="Twitter"></i></span></a></li>
                                    </span>

                                    <li><a href="{{ item.instagramlink }}" class="instagram">
                                    <span class="fa-stack fa-3x">
                                      <i class="fa fa-circle instagram-brown fa-stack-2x"></i>
                                       <span><i class=" gray-shadow fa-stack-1x fa fa-instagram" alt ="instagram"></i></span></a></li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
