{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
<div class="row">
    {% if program.img %}
    <div class="text-center titlebackground" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{ program.img.url }})
        center 30% no-repeat; ">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="ethics-title text-center text-uppercase">{{ program.title }}</h1>
                {% if program.text %}
                <h4 class="white-text page-sub-title">{{ program.text | safe }}</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
  {% else %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-center no-img-title text-uppercase">{{ program.title }}</h1>
        {% if program.text %}
        <h4 class="page-sub-title">{{ program.text | safe }}</h4>
        {% endif %}
    </div>
</div>
    {% endif %}
    <!-- end row one -->
{% else %}
<div class="row">
    <div class="program-post">
        <div class="col-md-4 childrens-class" style="background-color:{{ program.color }}">
            <h1 class="program-subtitle text-center">{{ program.title }}</h1>
        </div>
        <div class="col-md-8">
            <div class="center-block program-text-right">{{ program.text | safe }}</div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="row">
    <div class="program-post">
        <div class="col-md-4 col-md-push-8 childrens-class" style="background-color:{{ program.color }}">
            <h1 class="program-subtitle text-center">{{ program.title }}</h1>
        </div>
        <div class="col-md-8 col-md-pull-4 ">
            <div class="center-block program-text-right">{{ program.text | safe }}</div>
        </div>
    </div>
</div>
{% endif %}
