body {
  font-family: 'Lato',sans-serif;
  color: #747784;
  font-weight: 400;
}

/*override bootstrap navbar settings*/
.navbar .navbar-nav li a:focus,.navbar .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

.navbar {
  margin: 0;
  border-radius: 0;
  background: rgba(0,0,0,0.5);
  border-color: transparent;
  color: #fff;
}

.navbar ul {
  font-size: 20px;
/*padding-top: 15px;*/
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
  text-decoration: underline;
}

/*donate button override bootstrap*/
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover {
  background-image: none;
  background-color: #7a25ae;
  color: #fff;
}

.navbar-nav > li {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-nav > li > .dropdown-menu {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.dropdown-menu > li > a {
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
/*ourstory page css*/
.ourstorytitle {
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0;
  color: #fff;
  font-weight: 700;
}

.ourstorypost {
  min-height: 500px;
  padding-top: 4em;
  padding-bottom: 3em;
  padding-left: 3em;
  padding-right: 2em;
  color: #fff;
}

.ourstoryimg {
  max-height: 350px;
  max-width: 70%;
  margin-top: 2em;
}
.storytext {
  margin-top: 2em;
  padding-top: 3em;
  max-height: 300px;
  max-width: 80%;
  margin:auto;
}

/*childrens program page css*/
.programpost {
  min-height: 350px;
}

.childrensclass {
  min-height: 350px;
}

.row {
  overflow: hidden;
}

.ccright {
  float: right;
}

.childrenstitle {
  padding-top: 4em;
  color: blue;
  font-weight: 700;
}

.programtextright {
  padding: 2em;
}

.programsubtitle {
  padding-top: 10%;
  color: #fff;
}

.main {
  padding-top: 20px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
/*ethics page css*/
.ethicsimage {
  max-width: 100%;
  /*max-height: 400px;*/
}

.ethicstitle {
  padding-top: 1em;
  color: blue;
  font-weight: bold;
}
/*flatpages main content*/
.maincontent {
  margin-top: 10px;
  padding: 50px;
  min-height: 550px;
}

.flatpagetext {
  padding: 50px;
}

.footer {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
/* Set the fixed height of the footer here */
  height: 60px;
}

.footer ul {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

.footer ul li a {
  display: block;
}

.footer a {
  color: #9D9D9D;
}

.footer li a {
  float: right;
  padding: .5em;
}

.footer a:hover {
  color: #000;
  font-style: none;
}

@media(max-width: 640px) {
  .title-super {
    font-size: 1.5em;
    padding-bottom: .5em;
  }

  .childrensclass {
    min-height: 100px;
    padding-bottom: 1em;
  }

  .programsubtitle {
    padding-top: 1em;
  }
}

@media(max-width: 786px) {
  .childrensclass {
    min-height: 100px;
    padding-bottom: 2em;
  }

  .programsubtitle {
    padding-top: 1em;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning*/
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {

}
